.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding-bottom: 101px;
    padding-top: 75px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 22px;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: minmax(300px, 48%) minmax(300px, 52%);

  @include vp-1023 {
    grid-template-columns: minmax(300px, 52.3%) minmax(300px, 47.7%);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.contacts__map {
  width: 560px;
  height: 306px;

  @include vp-1023 {
    width: 91.48%;
    height: 335px;
  }

  @include vp-767 {
    margin-top: 36px;
    order: 1;
    width: 100%;
  }
}

.contacts__text-wrapper {
  padding-top: 74px;
  padding-left: 103px;

  @include vp-1023 {
    padding-top: 68px;
    padding-left: 0;
  }

  @include vp-767 {
    order: 0;
    padding-top: 0;
  }
}

.contacts__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;
  margin-top: 0;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 26px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.contacts__wrapper {
  display: flex;
  margin-bottom: 22px;

  @include vp-1023 {
    margin-bottom: 21px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.contacts__wrapper svg {
  flex-shrink: 0;
}

.contacts__icon--pin {
  @include vp-1023 {
    margin-top: 7px;
  }
}

.contacts__address {
  font-style: normal;
  color: $color-tangaroa;
  font-size: 16px;
  line-height: 24px;
  margin-left: 11px;
}

.contacts__link {
  color: $color-tangaroa;
  line-height: 24px;
  margin-left: 11px;

  &:hover {
    text-shadow: 0 0 1px $color-tangaroa;
  }

  &:active {
    opacity: 0.8;
  }
}
