.header {
  padding: 35px 0;

  @include vp-1023 {
    padding: 28px 0;
  }
}

.header__container {
  display: flex;
  padding: 0;

  @include vp-1023 {
    padding: 0;
  }
}

.header__logo-link {
  display: flex;
  align-self: center;
}

.header__icon {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }
}
