nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 30px 33px;

  @include vp-1023 {
    gap: 23px 24px;
  }
}

.nav__link {
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;

  &:hover {
    // color: $color-default-black;
    text-shadow: 0 0 2px $color-alice-blue;
  }

  &:active {
    opacity: 0.8;
  }

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }
}
