.top-wrapper {
  position: relative;
  min-height: 650px;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @include vp-1023 {
    min-height: 638px;
    background-image: url("../img/main-bg-tablet.jpg");
  }

  @include vp-767 {
    min-height: 500px;
    background-image: url("../img/main-bg-mobile.jpg");
  }
}
