.travel {
  padding: 120px 0 145px 0;

  @include vp-1023 {
    padding: 90px 0 77px 0;
  }
}

.travel__container {
  display: grid;
  grid-template-columns: 45% auto;
  gap: 80px;

  @include vp-1023 {
    display: grid;
    grid-template-columns: 47.5% 47.7%;
    gap: 27px;
  }
}

.travel__text-wrapper {
  padding-top: 59px;

  @include vp-1023 {
    padding-top: 0;
  }
}

.travel__title {
  color: $color-tangaroa;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 20px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
    max-width: 80%;
    margin-bottom: 17px;
  }
}

.travel p {
  margin-top: 0;
  color: $color-tangaroa;
  line-height: 24px;
}

.travel__img {
  width: 560px;
  display: flex;
  height: auto;

  @include vp-1023 {
    margin-top: 10px;
  }
}
